 .create-group-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  } 
  

  .error-message {
    color: #e74c3c;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .form-input {
    width: 95%;
    /* width: 100%; */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .form-input:focus {
    border-color: #4caf50;
  }
  
  .create-group-btn {
    background-color: #4caf50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .create-group-btn:disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
  }
  
  .create-group-btn:hover {
    background-color: #45a049;
  }
  