.home {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
}



.home-content {
  flex: 1;
  overflow: auto;
  box-sizing: border-box;
  padding: 2vmax;
  /* background-image: linear-gradient(to right, #1b1b19, #aa98ee); */
  background-image:url("../../Assets/img/bg3.jpg");
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .home-content {
    padding: 0;
    min-height: 90vh;
  }
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.home-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content ul li {
  width: 100%;
  max-width: 900px; /* Adjusted maximum width */
  height: 100px; /* Adjusted height */
  line-height: 100px; /* Adjusted line-height */
  margin: 15px 0; /* Increased vertical spacing */
  padding: 20px;
  color: #fff;
  font-size: 24px; /* Increased font size */
  font-family: 'Arial', sans-serif; /* Elegant font - replace with your preferred font */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: #4caf50; /* Adjusted background color */
  border-radius: 8px; /* Increased border-radius for a rounded look */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  opacity: 0; /* Initial opacity for fade-in effect */
  transform: translateY(20px); /* Initial transform for fade-in effect */
  animation: fadeIn 0.5s ease-in-out forwards; /* Fade-in animation */
}

.home-content ul li:hover {
  background-color: #45a049; /* Adjusted background color on hover */
  transform: scale(1.05); /* Slightly scale on hover for an interactive feel */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-content ul li:hover {
  background-color: #45a049; /* Adjusted background color on hover */
}

.home-content ul li a {
  text-decoration: none;
  color: inherit;
}
