
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 22px 0; 
  }
  
  .footer-text {
    font-size: 20px;
  }
  
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    margin-bottom: 60px; 
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
   
  
  
