/* Footer.css */

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgb(225, 237, 247);
  font-weight: 700;
  color: #080808;
  text-align: center;
  z-index: -10;
  padding: 10px 0; /* Adjust padding as needed */
  margin-top: auto; /* Push the footer to the bottom */
}

.footer-text {
  font-size: 20px;
}
