.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #007bff;
  z-index: 1000;
}

.header-title{
  margin-left: 2rem;
}

.header-title:hover{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.header > a {
  width: 2vmax;
  height: 2vmax;
  margin: 1vmax 4vmax;
  text-decoration: none;
}

.header > a > svg {
  font-size: 2vmax;
  transition: all 0.5s;
  color: rgba(0, 0, 0, 0.445);
}

.header > a > svg:hover {
  color: black;
  transform: scale(1.2);
}

@media screen and (max-width: 600px) {
  .header > a {
    width: 8vw;
    height: 8vw;
    margin: 2vw 8vw;
  }
  .header > a > svg {
    font-size: 8vw;
  }

  body {
    margin-top: 8vw;
  }
}

.logout-button{
  margin-right: 2rem;
}
.logout-button > svg:hover{
  color: black;
  transform: scale(1.2);
  cursor: pointer;
}

.logout-button > svg{
  font-size: 2vmax;
  transition: all 0.5s;
  color: rgba(0, 0, 0, 0.445);
}