.search {
  min-height: 100vh;
  background-image: linear-gradient(to right, #1b1b19, #aa98ee);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vmax;
  box-sizing: border-box;
  animation: fadeIn 1s ease-in-out;
}

.searchForm {
  background-color: rgb(202, 234, 232);
  width: 40%;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideUp 1s ease-in-out;
}

.searchForm > input {
  box-sizing: border-box;
  padding: 1vmax 2vmax;
  width: 80%;
  border-radius: 30px;
  border: 1px solid #cfabab;
  margin: 1vmax;
  font: 100 1rem "Roboto", sans-serif; /* Slightly smaller font size */
  outline: none;
  transition: all 0.3s ease-in-out;
}

.searchForm > input:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searchResults {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 2vmax;
  box-sizing: border-box;
  margin: 2vmax;
  animation: fadeIn 1s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .searchForm {
    width: 100%;
    animation: slideUpMobile 1s ease-in-out;
  }

  .searchForm > input {
    padding: 2vw 4vw;
    margin: 1vmax;
    font: 100 1rem "Roboto", sans-serif; /* Slightly smaller font size */
  }

  @keyframes slideUpMobile {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}
