.register {
  min-height: 100vh;
  background-image: linear-gradient(to right, #1b1b19, #aa98ee);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vmax;
  box-sizing: border-box;
}

.registerForm {
  background-color: rgb(202, 234, 232);
  width: 40%;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerInputs {
  box-sizing: border-box;
  padding: 0.8vmax 1.6vmax; /* Adjusted padding for smaller inputs */
  width: 80%;
  border-radius: 30px; /* Smaller border-radius for a cleaner look */
  border: 1px solid #cfabab;
  margin: 1vmax; /* Adjusted margin for smaller spacing */
  font: 100 1rem "Roboto", sans-serif; /* Slightly smaller font size */
  outline: none;
}

.registerForm > input[type="file"] {
  border-radius: 30px;
  margin: 1vmax;
}

.registerForm > input[type="file"]::-webkit-file-upload-button {
  background-color: #4caf50;
  color: white;
  width: 100%;
  padding: 1vmax;
  border-radius: 30px;
  border: none;
  font: 100 1rem "Roboto", sans-serif; /* Slightly smaller font size */
}

/* Styling for buttons */
.registerButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm > button,
.registerForm > a {
  cursor: pointer;
  padding: 1vmax 2vmax;
  width: 80%;
  border-radius: 30px; /* Smaller border-radius for buttons */
  border: none;
  margin: 1vmax; /* Adjusted margin for smaller spacing */
  font: 100 1rem "Roboto", sans-serif; /* Slightly smaller font size */
  outline: none;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #4caf50;
}

.registerForm > button:hover,
.registerForm > a:hover {
  background-color: #45a049;
}

.registerForm > a {
  align-self: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.342);
  margin: 1vmax; /* Adjusted margin for smaller spacing */
}

@media screen and (max-width: 600px) {
  .registerForm {
    width: 100%;
  }

  .registerInputs {
    padding: 2vw 4vw; /* Adjusted padding for smaller inputs on small screens */
    margin: 2vmax;
    font: 100 1rem "Roboto", sans-serif; /* Slightly smaller font size */
  }

  .registerForm > input[type="file"] {
    width: 100%;
  }

  .registerForm > input[type="file"]::-webkit-file-upload-button {
    width: 70%;
  }

  .registerButtons > button,
  .registerButtons > a {
    width: 100%;
  }

  .registerForm > a {
    align-self: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.342);
    margin: 2vmax;
  }
}
